.lunchProgram {
  background: #f2f2f2;

  padding: 5px;
}
.program_body {
  display: flex;
}
aside {
  display: flex;
  width: 100%;
  height: auto;
  background: #ffffff;
  flex: 1;
}
section {
  width: 98%;
  height: 82vh;
  display: flex;
  flex: 5;
  overflow: auto;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px;
  font-weight: bold;
}
.no_result {
  font-size: medium;
  font-weight: 600;
  justify-content: center;
}
.successfull_landing{
    display: flex;
}
.successfull_lunch{
    display: flex;
}


@media only screen and (max-width: 700px) {
  .program_body {
    display: flex;
    flex-direction: column;
  }
  section{
    margin-top: 10px;
  }
}
@media only screen and (max-width: 768px) {


}


@media only screen and (max-width: 1024px) {

  section{
   height: 95vh;
  }
  aside{
    flex: 2;
  }
  section{
    flex: 6;
  }
}